{% extends 'layout.html' %}

{% block title %}
Online Channels Connect
{% endblock %}

{% block body %}
{{ channels_dict }}
{{ users_dict }}

<span id="testpost"></span>

<div class="container">
  <form>
    <div class="form-group">
      <input id="post_text" type="text" class="form-control" placeholder="Enter you post here" autofocus>
      <button id="btn_post_text" type="button" class="btn btn-primary">Post</button>
    </div>
  </form>
</div>
<script type="text/javascript">
  document.addEventListener('DOMContentLoaded', () => {

    // connect to websocket
    var channel_socket = io.connect(location.protocol + '//' + document.domain + ':' + location.port);

    // when connected
    channel_socket.on('connect', () => {

      // post button
      document.querySelector('#btn_post_text').onclick = () => {
        const post_text = document.querySelector('#post_text').value;
        channel_socket.emit('submit post', {'post_text' : post_text});
      };
    });

    // when posted
    channel_socket.on('post list', data => {
      document.querySelector('#testpost').innerHTML = data
    });
  });

</script>
{% endblock %}
