{% extends 'layout.html' %}

{% block title %}
connectMe: current channel
{% endblock %}

{% block body %}
<div class="container cont">
    <div class="form-group">
      <h2 id="ctitle">channel: {{channel}}</h2>
      <button id="dchannel" type="button" class="btn btn-dark btn-sm">Delete Channel</button>
    </div>
      <button id="dchannel" type="button" class="btn btn-dark btn-sm">Delete Channel</button>
    </div> -->
        <div id="post_list" class="scrolltable">
        </div>
        <div class="row">
          <div class="form-group col-sm-6">
            <input id="post_text" type="text" class="form-control" placeholder="Enter you post here" autofocus>
          </div>
            <div class="col-sm-4">
              <button id="btn_post_text" type="button" class="btn btn-primary">Send</button>
            </div>
        </div>
</div>
<script id="posts_template" type="text/x-handlebars-template">
    {% raw -%}
    <div id="post_index_{{post_dict.index}}" class="col-sm-12">
        <div class="channelpost row message-bubble" data-post_index="{{post_dict.index}}" data-post_user="{{post_dict.user}}">
          <span class="post_user col-sm-12"><strong>User Name: {{post_dict.user}}</strong></span></br>
          <span class="post_message col-sm-6"><strong>Message: </strong>{{post_dict.message}}</span>
          <span class="infotext post_date col-sm-2">{{post_dict.date}}</span>
          <span class="infotext post_time col-sm-2">{{post_dict.time}}</span>
          <button type="button" class="btn btn-dark btn-sm dpost" data-btnvar="">delete</button>
        </div>
    </div>
    {%- endraw %}
</script>

<script type="text/javascript">

  document.addEventListener('DOMContentLoaded', () => {

    // check session logged in
    ButtonDisplay("{{session['logged_in']}}");

    // ButtonDisplay and localstorage order is important
    // saving channels page
    localStorage.setItem('last_channel', window.location);


    // handlebars template
    const post_template = Handlebars.compile(document.querySelector('#posts_template').innerHTML);


    // load previous posts
    channels_dict = {{channels_dict|safe}};
    // removing channel delete button for other users
    if(channels_dict["{{channel}}"].owner === "{{session['logged_in']}}"){
      document.querySelector('#dchannel').style.display = "block";
    } else {
      document.querySelector('#dchannel').style.display = "none";
    }
    const posts_dict = channels_dict["{{channel}}"]['channel_messages']
    for(post_dict in posts_dict){
      if(post_dict['data'] === datenow()){
        date_now = date_now();
      } else {
        date_now = false;
      }
      document.querySelector('#post_list').innerHTML += post_template({'post_dict' : posts_dict[post_dict], 'date_now' : date_now})
    }

    // scroll bottom
    post_list = document.querySelector('#post_list');
    post_list.scrollTop = post_list.scrollHeight - post_list.clientHeight;

    // connect to websocket
    var channel_socket = io.connect(location.protocol + '//' + document.domain + ':' + location.port);

    // when connected
    channel_socket.on('connect', () => {

      // post button
      document.querySelector('#btn_post_text').onclick = () => {
        const post_text = document.querySelector('#post_text').value;
        channel_socket.emit('submit post', {'post_text' : post_text, 'channel' : "{{ channel }}"});

        // clearing input
        document.querySelector('#post_text').value = "";
        document.querySelector('#post_text').focus();

      };

      delete_post();

    });

    // on typing text
    const btn_post_text = document.querySelector('#btn_post_text');
    btn_post_text.disabled = true;
    const post_text = document.querySelector('#post_text');
    post_text.oninput = () => {
      if (post_text.value.length > 0){
        btn_post_text.disabled = false;
      } else {
        btn_post_text.disabled = true;
      }
    };

    // when posted
    channel_socket.on('post list', post_text => {

      posts_dict1 = JSON.parse(post_text);
      for(post_dict in posts_dict1){
        if(posts_dict1[post_dict]['data'] === datenow()){
          date_now = date_now();
        } else {
          date_now = false;
        }
        post_list.innerHTML += post_template({'post_dict' : posts_dict1[post_dict], 'date_now' : date_now})

      }
      delete_post();


      if(post_list.children.length > Number("{{max_posts}}")){
        post_list.children[0].remove();
      }

      post_list.scrollTop = post_list.scrollHeight - post_list.clientHeight;
    });

    // when deleted
    channel_socket.on('post delete', text => {
      current_post = JSON.parse(text);
      document.querySelector('#post_index_' + current_post['post_index']).remove()
    });

    // delete button function
    function delete_post() {
      document.querySelectorAll('.dpost').forEach(
        button => {
          if("{{session['logged_in']}}" != button.parentElement.dataset.post_user){
            button.remove()
          }

          button.onclick = () => {
            const current_post = {
              'channel' : "{{channel}}",
              'post_index' : button.parentElement.dataset.post_index
            };
          channel_socket.emit('delete post', current_post);
          }
        }
      );
    };
    document.querySelector('#dchannel').onclick = () => {
      const request = new XMLHttpRequest();
      request.open('POST', '/modchannel');
      request.onload = () => {
        if(getconfirmation){
          window.location.href = location.protocol + "//" + document.domain + ":" + location.port + "/channels"
        }
      }
      const data = new FormData();
      data.append("current_channel", "{{channel}}");
      const getconfirmation = confirm("Do you want to delete " + "{{channel}}");
      if(getconfirmation){
        data.append("button", "delete");
      } else {
        data.append("button", "skip");
      }
      request.send(data);
    }

  });
</script>

{% endblock %}
