{% extends 'layout.html' %}

{% block title %}
Online Channels Connect
{% endblock %}

{% block body %}
{{ channels_dict }}
<hr>
{{ user_dict }}

<div class="container">
  <div class="form-group">
    <div class="form-group">
      <input type="text" id="achannel" placeholder="New channel name" autocomplete="off" autofocus pattern="[A-Za-z0-9]">
      <button type="button" class="btn btn-primary" id="btn_achannel">Add</button>
    </div>
    <span id="achannel_uniq"></span>
  </div>

    <div id="allchannels_0">
      <h4>No channels available</h4>
    </div>

    <div id="allchannels_1">
      <h4>All Channels</h4>
      <ul>
      </ul>
    </div>

  <div id="userchannels">
    <h4>Joined channels</h4>
    <ul>
    </ul>
  </div>

  <div id="ownerchannels">
    <h4>Owned channels</h4>
    <ul>
    </ul>
  </div>
</div>

<span id="test"></span>

<script id="channels_template" type="text/x-handlebars-template">
  <li>
    {% raw -%}
    <a href="/channels/{{channel}}">{{channel}}</a>
    <button type="button" class="btn btn-default dchannel c{{btnvar}}" data-btnvar="{{btnvar}}">{{btnvar}}</button>
    {%- endraw %}
  </li>
</script>

<script type="text/javascript">

  document.addEventListener('DOMContentLoaded', () => {
    // check session logged in
    ButtonDisplay("{{session['logged_in']}}");

    // handlebars template
    const channel_template = Handlebars.compile(document.querySelector('#channels_template').innerHTML);


    // Channel dict
    const channels = {{channels_dict|safe }}
    const user = {{user_dict|safe}}

    // list channels
    if(channels){
      document.querySelector('#allchannels_0').style.display = "none";
      document.querySelector('#allchannels_1').style.display = "block";

      for(var channel in channels){
        if(user['channels_owner'].indexOf(channel) > -1){

          // all channel
          document.querySelector('#allchannels_1').children.item(0).innerHTML += channel_template({'channel' : channel, 'btnvar' : 'delete'});
          // owned channel
          document.querySelector('#ownerchannels').style.display = "block";
          document.querySelector('#ownerchannels').children.item(1).innerHTML += channel_template({'channel' : channel, 'btnvar' : 'delete'});
          // joined channel
          document.querySelector('#userchannels').style.display = "block";
          document.querySelector('#userchannels').children.item(1).innerHTML += channel_template({'channel' : channel, 'btnvar' : 'delete'});
        } else if(user['channels_user'].indexOf(channel) > -1){
          // all channel
          document.querySelector('#allchannels_1').children.item(0).innerHTML += channel_template({'channel' : channel, 'btnvar' : 'leave'});
          // joined user
          document.querySelector('#userchannels').style.display = "block";
          document.querySelector('#userchannels').children.item(1).innerHTML += channel_template({'channel' : channel, 'btnvar' : 'leave'});
        } else {
          document.querySelector('#allchannels_1').children.item(0).innerHTML += channel_template({'channel' : channel, 'btnvar' : 'join'});
        };
      };

      document.querySelectorAll('.cjoin').forEach(element => {
        element.parentElement.children.item(0).removeAttribute('href');
      });

    } else {
      document.querySelector('#allchannels_0').style.display = "block";
      document.querySelector('#allchannels_1').style.display = "none";
    }


    const btn_achannel = document.querySelector('#btn_achannel');
    const achannel_uniq = document.querySelector('#achannel_uniq');
    const btn_dchannel = document.querySelectorAll('.dchannel')

    // check channel unique
    btn_achannel.disabled = true;
    document.querySelector('#achannel').onkeyup = () => {
      const achannel = document.querySelector('#achannel').value;
      if (achannel.length > 0) {

        // removing spl characters
        var regex = /^\w+$/;
        if (achannel.match(regex)){
          achannel_uniq.innerHTML = ""
          btn_achannel.disabled = false;
        } else {
          achannel_uniq.innerHTML = "Channel name restricted to alpha-numeric and _"
          btn_achannel.disabled = true;
          return
        }

        for(channel in channels) {
          if(achannel === channel) {
            achannel_uniq.innerHTML = "Channel already exist"
            btn_achannel.disabled = true;
            break;
          } else {
            achannel_uniq.innerHTML = ""
            btn_achannel.disabled = false;
          };
        };
      } else {
        btn_achannel.disabled = true;
        achannel_uniq.innerHTML = "";
      }
    };



    // add new channel
    btn_achannel.onclick = () => {

      // add to channels_dict
      const channel = document.querySelector('#achannel').value
      const owner = "{{session['logged_in']}}"
      const channel_info = {
        [channel] : {
          'owner' : owner,
          'channel_messages' : {}
        } };
      const request = new XMLHttpRequest();
      request.open('POST', '/addchannel');
      request.onload = () => {
        window.location.href = window.location;
        // document.querySelector('#test').innerHTML = request.responseText;
      }
      const data = new FormData();
      data.append("channel_info", JSON.stringify(channel_info));
      request.send(data);
    }

    // join leave and delete channel
    btn_dchannel.forEach( button => {
      button.onclick = () => {
        const current_channel = button.parentElement.firstElementChild.innerText;
        const current_button = button.dataset.btnvar;

        const request4 = new XMLHttpRequest();
        request4.open('POST', '/modchannel');
        request4.onload = () => {
          window.location.href = window.location;
        }
        const data = new FormData();
        data.append("current_channel",current_channel);
        // join
        if(current_button === "delete"){

          const getconfirmation = confirm("Do you want to delete " + current_channel)
          if(getconfirmation){
          } else {
            data.append("button", "skip");
          }
        }
        data.append("button", current_button);
        request4.send(data);

        }

      });

      // localStorage channels name
      localStorage.setItem('channel_names', JSON.stringify(Object.keys(channels)))
    });


</script>
{% endblock %}
