{% extends 'layout.html' %}

{% block title %}
Online Channels Connect
{% endblock %}

{% block body %}

<span id="testpost"></span>
<div class="container">
  <div id="post_list">
  </div>
</div>
<div class="container">
  <form>
    <div class="form-group">
      <input id="post_text" type="text" class="form-control" placeholder="Enter you post here" autofocus>
      <button id="btn_post_text" type="button" class="btn btn-primary">Post</button>
    </div>
  </form>
</div>

<script id="posts_template" type="text/x-handlebars-template">
    {% raw -%}
  <div class="channelpost" data-post_index="{{post_dict.index}}" data-post_user="{{post_dict.user}}">
    <span class="post_user">{{post_dict.user}}</span>
    <span class="post_message">{{post_dict.message}}</span>
    <span class="post_date">{{post_dict.date}}</span>
    <span class="post_time">{{post_dict.time}}</span>
    <button type="button" class="btn btn-primary dpost" data-btnvar="">delete</button>
  </div>
    {%- endraw %}
</script>

<script type="text/javascript">

  document.addEventListener('DOMContentLoaded', () => {


    // check session logged in
    ButtonDisplay("{{session['logged_in']}}");

    // handlebars template
    const post_template = Handlebars.compile(document.querySelector('#posts_template').innerHTML);


    // load previous posts
    const channels_dict = {{channels_dict|safe}};
    const posts_dict = channels_dict["{{channel}}"]['channel_messages']
    for(post_dict in posts_dict){
      if(post_dict['data'] === datenow()){
        date_now = date_now();
      } else {
        date_now = false;
      }
      document.querySelector('#post_list').innerHTML += post_template({'post_dict' : posts_dict[post_dict], 'date_now' : date_now})
    }


    // connect to websocket
    var channel_socket = io.connect(location.protocol + '//' + document.domain + ':' + location.port);

    // when connected
    channel_socket.on('connect', () => {

      // post button
      document.querySelector('#btn_post_text').onclick = () => {
        const post_text = document.querySelector('#post_text').value;
        channel_socket.emit('submit post', {'post_text' : post_text, 'channel' : "{{ channel }}"});

        // clearing input
        document.querySelector('#post_text').value = "";
        document.querySelector('#post_text').focus();

      };

      delete_post();

    });

    // when posted
    channel_socket.on('post list', post_text => {
      posts_dict1 = JSON.parse(post_text);
      for(post_dict in posts_dict1){
        if(posts_dict1[post_dict]['data'] === datenow()){
          date_now = date_now();
        } else {
          date_now = false;
        }
        document.querySelector('#post_list').innerHTML += post_template({'post_dict' : posts_dict1[post_dict], 'date_now' : date_now})

      }
      delete_post();
    });

    // when deleted
    channel_socket.on('post delete', text => {
      current_post = JSON.parse(text);
      // document.querySelectorAll("data-post_index=current_post['post_index']").remove()
      div = document.querySelectorAll("[data-post_index=\"" + current_post['post_index'] + "\"]");
      div.item(0).remove()
    });

    // delete button function
    function delete_post() {
      document.querySelectorAll('.dpost').forEach(
        button => {
          if("{{session['logged_in']}}" != button.parentElement.dataset.post_user){
            button.remove()
          }

          button.onclick = () => {
            const current_post = {
              'channel' : "{{channel}}",
              'post_index' : button.parentElement.dataset.post_index
            };
          channel_socket.emit('delete post', current_post);
          }
        }
      );
    }
  });

</script>
{% endblock %}
