{% extends "layout.html" %}

{% block title %}
connectMe: Forgot Password
{% endblock %}

{% block body %}
  <div class="container cont">
    <h1>Forgot Password</h1>
    {% if not message %}
    <form method="post">
      <div class="form-group">
        <input type="text" class="form-control" name="username" value="" placeholder="Please enter your username" autofocus/>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-dark">Submit</button>
      </div>
      <input type="hidden" name="todo" value="username"/>
    </form>
    {% else %}
    <form method="post">
      <div class="form-group">
        <input type="text" name="username0" class="form-control" value="{{message}}" disabled/>
        <input type="hidden" name="username" value="{{message}}"/>
      </div>
      {% if question %}
      <div class="form-group">
        Please answer the following question<br>
        {{question}}
      </div>
      <div class="form-group">
        <input type="text" name="answer" class="form-control" placeholder="Answer?"/>
      </div>
      <div class="form-group">
        <input id="in_password" type="password" name="password" class="form-control" placeholder="New Password" />
      </div>
      <div class="form-group">
        <input id="in_password2" type="password" name="password_retype" class="form-control" placeholder="Re-enter New Password" />
      </div>

      <div class="form-group">
        <button type="submit" class="btn btn-dark">Submit</button>
      </div>
      {% endif %}
      <input type="hidden" name="todo" value="changepassword"/>
    </form>
    {% endif %}
  </div>
<script type="text/javascript">

  localStorage.removeItem('last_channel');

  document.addEventListener('DOMContentLoaded', () => {

  // check session logged in
  ButtonDisplay("{{session['logged_in']}}");
  });

</script>

{% endblock %}
