{% extends 'layout.html' %}

{% block title %}
connectMe: Home
{% endblock %}

{% block body %}
<div class="container">
  <div id=navbarhtml>
  </div>
</div>

<div class="container cont">
  <div>
    <img id="img1" src="{{ url_for('static', filename='images/img1.jpg')}}" height="300" width="550">
  </div>
  <div id="homediv">
  <h3>Connecting Messenger</h3>
  <ul>
    <li>Any user Should be able to create a new channel. and selecting one should allow the user to view the channel.</li>
    <li>Once a channel is selected, the user should see any messages that have already been sent in that channel.Up to a maximum of 100 messages</li>
    <li>Once in a channel, user user should able to send text messages to others the channel. When a user send a message their display namr and the timestamp of the message should be associated with the message- </li>
    <li>All user in the channel should then see the new message appear on the channel page.</li>
  </ul>
  <div>
</div>

<script type="text/javascript">
  document.addEventListener('DOMContentLoaded', () => {

    // saving session credentials
    if(!localStorage.getItem('session_logged_in')){
      if("{{session['logged_in']}}" != "False"){
        sessionvar = {"user" : "{{session['logged_in']}}", "password" : "{{session['logged_pass']}}"}
        localStorage.setItem('session_logged_in', JSON.stringify(sessionvar))
      }
    } else {
      const session_logged_in = JSON.parse(localStorage.getItem('session_logged_in'));
      if("{{session['logged_in']}}" != "False"){
        if("{{session['logged_in']}}" === session_logged_in['user'] && "{{session['logged_pass']}}" === session_logged_in['password']){
        } else {
          sessionvar = {"user" : "{{session['logged_in']}}", "password" : "{{session['logged_pass']}}"}
          localStorage.setItem('session_logged_in', JSON.stringify(sessionvar))
        }
      } else {
        // login user from local session
        const request7 = new XMLHttpRequest();
        request7.open('POST', '/login');
        request7.onload = () => {
          window.location.href = window.location
        }
        const data = new FormData();
        data.append("session_logged_in", JSON.stringify(session_logged_in));
        request7.send(data);
      }
    }


  // redirect to channel page
  if(localStorage.getItem('last_channel')){
    window.location = localStorage.getItem('last_channel');
  }

  // check session logged in
  ButtonDisplay("{{session['logged_in']}}");
  });

</script>
{% endblock %}
