<!DOCTYPE html>
<html>
    <head>
      <title>{% block title %}
      {% endblock %}</title>
      <link rel="stylesheet" href="{{url_for('static', filename='project2.css')}}">
      <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
      <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script> -->
      <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.11/handlebars.min.js"></script>
      <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>


      <!-- <script src="{{url_for('static', filename='socket.io.min.js')}}" ></script>
      <script src="{{url_for('static', filename='handlebars.min.js')}}" ></script> -->
      <!-- <script src="{{url_for('static', filename='init.js')}}" ></script> -->
    </head>
    <body>
      <div class="container">
        <form action="">
          <div class="form-group">
            <button type="button" class="btn btn-primary btnloc" id="btn_home" data-urlfor="">Home</button>
            <button type="button" class="btn btn-primary btnloc" id="btn_channels" data-urlfor="/channels">Channels</button>
            <button type="button" class="btn btn-primary loggedout btnloc" id="btn_login" data-urlfor="/login">Login</button>
            <button type="button" class="btn btn-default loggedout btnloc" id="btn_register" data-urlfor="/register">Register</button>
            <button type="button" class="btn btn-primary loggedin btnloc" id="btn_logout" data-urlfor="/logout">Logout</button>
          </div>
        </form>

        {% block body%}
        {% endblock %}
      </div>

    <script>

    // saving session
    if(!localStorage.getItem('session_logged_in')){
      if("{{session['logged_in']}}" != "False"){
        sessionvar = {"user" : "{{session['logged_in']}}", "password" : "{{session['logged_pass']}}"}
        localStorage.setItem('session_logged_in', JSON.stringify(sessionvar))
      } else {
        localStorage.removeItem('session_logged_in')
      }
    } else {
      // const request7 = new XMLHttpRequest();
      // request7.open('POST', '/setsession');
      // request7.onload = () => {
      //   location.href = location.protocol + '//' + document.domain + ':' + location.port;
      // }
      // const data = new FormData();
      // data.append("session_logged_in", localStorage.getItem('session_logged_in'));
      // request7.send(data);
    }

    function ButtonDisplay(sesssionloggedin) {
    if(sesssionloggedin != "False") {
      const loggedout = document.querySelectorAll('.loggedout');
      loggedout[0].style.display = "none";
      loggedout[1].style.display = "none";
      document.querySelector('.loggedin').style.display = "inline";
    } else {
      document.querySelector('.loggedin').style.display = "none";
      const loggedout = document.querySelectorAll('.loggedout');
      loggedout[0].style.display = "inline";
      loggedout[1].style.display = "inline";
    }

    // button functions
    document.querySelectorAll('.btnloc').forEach(
      button => {
        button.onclick = () => {
          if(button.dataset.urlfor === "/logout"){
            localStorage.removeItem('session_logged_in')
          }
          location.href = location.protocol + '//' + document.domain + ':' + location.port + button.dataset.urlfor
        }
      }
    );

    }

    function alphanumeric(text, tag) {
      let restrict = /^[0-9a-zA-Z]+$/;
      if (text.value.match(restrict)) {
        // pass
      } else {
        alert("HI");
      }
    }

    function datenow(){
      let date = new Date();
      let date_now = date.getFullYear() + "-" + (date.getMonth() + 1) + "-" + date.getDate();
      return date_now
    }

    </script>
    </body>
