{% extends "layout.html" %}

{% block title %}
connectMe: User Login
{% endblock %}

{% block body %}
<div class="container cont">
<form action="{{ url_for('login')}}" method="post">
	<div class="row">
    <div class="col col-lg-6 offset-lg-3 col-md-6 offset-md-3 col-sm-8 offset-sm-2">
        <div class="card text-center card  bg-default mb-3">
          <div class="card-header">
            Sign In
          </div>
          <div class="card-body">
               <input id="login_username" type="text" name="username" class="form-control input-sm chat-input" placeholder="Username" autofocus/>
            </br>
            <input id="login_password" type="password" name="password" class="form-control input-sm chat-input" placeholder="Password" />
          </div>
          <div class="card-footer text-muted">
            <button id="btn_login1" class="btn btn-secondary" disabled><i class="fas fa-sign-in-alt"></i> Sign In</button>
						<hr><a href="{{ url_for('register')}}"><i class="fas fa-user-plus"></i> Sign Up</a><br>
						<a href="{{ url_for('forgotpassword')}}">Forgot Password</a>
          </div>
        </div>
  		</div>
		</div>
</form>
</div>
<script type="text/javascript">

  localStorage.removeItem('last_channel');

  document.addEventListener('DOMContentLoaded', () => {

  // check session logged in
  ButtonDisplay("{{session['logged_in']}}");

	document.onkeyup = () => {
		if (document.querySelector('#login_username').value.length > 0 && document.querySelector('#login_password').value.length > 0){
			document.querySelector('#btn_login1').disabled = false;
		} else {
			document.querySelector('#btn_login1').disabled = true;
		}
	};
  });

</script>

{% endblock %}
