{% extends "layout.html" %}

{% block title %}
connectMe: User Registration
{% endblock %}

{% block body %}
<div class="container cont">
<form action="{{ url_for('register')}}" method="post">
	<div class="row">
    <div class="col col-lg-6 offset-lg-3 col-md-6 offset-md-3 col-sm-8 offset-sm-2">
        <div class="card text-center card  bg-default mb-3">
          <div class="card-header">
            Sign Up
          </div>
          <div class="card-body">
              <input id="in_username" type="text" name="username" class="form-control input-sm chat-input" placeholder="Username" autofocus/>
            </br>
              <input id="in_password" type="password" name="password" class="form-control input-sm chat-input" placeholder="Password" />
            </br>
              <input id="in_password2" type="password" name="password_retype" class="form-control input-sm chat-input" placeholder="Re-enter Password" />
						</br>
							<input id="in_question" type="text" name="question" class="form-control" placeholder="Please enter a security question"/>
						</br>
							<input id="in_answer" type="text" name="answer" class="form-control" placeholder="Answer to your security question"/>
          </div>
          <div class="card-footer text-muted">
            <button class="btn btn-secondary" id="btn_signup" disabled><i class="fas fa-user-plus"></i> Sign Up</button>
						<hr><a href="{{ url_for('login')}}"><i class="fas fa-sign-in-alt"></i> Sign In</a><br>
						<a href="{{ url_for('forgotpassword')}}">Forgot Password</a>
          </div>
        </div>
  		</div>
		</div>
</form>
</div>

    <script type="text/javascript">

      localStorage.removeItem('last_channel');

      document.addEventListener('DOMContentLoaded', () => {

      // check session logged in
      ButtonDisplay("{{session['logged_in']}}");

      document.onkeyup = () => {
        if (document.querySelector('#in_username').value.length > 0 && document.querySelector('#in_password').value.length > 0 && (document.querySelector('#in_username').value.length == document.querySelector('#in_username').value.trim().length) && document.querySelector('#in_question').value.length > 0 && document.querySelector('#in_answer').value.length > 0){
          document.querySelector('#btn_signup').disabled = false;
        } else {
          document.querySelector('#btn_signup').disabled = true;
        }
      };

      });

    </script>

{% endblock %}
